asgiref==3.8.1
certifi==2025.6.15
charset-normalizer==3.4.2
Django==5.2.1
djangorestframework==3.16.0
et_xmlfile==2.0.0
fpdf==1.7.2
idna==3.10
openpyxl==3.1.5
packaging==24.2
pillow==11.1.0
pytz==2025.2
reportlab==4.4.3
requests==2.32.4
sqlparse==0.5.3
tzdata==2025.1
urllib3==2.4.0
gunicorn==21.2.0
whitenoise==6.6.0
dj-database-url==2.1.0
psycopg2-binary==2.9.9
